.title{
    color: black;
    font-size: 35px;
    padding: 0px 0px 0px 32%;
	text-transform: uppercase; 
	font-weight: bold; 
	letter-spacing: 2px;
	right: 50%;
	background-color: #2A708C;
	color: white;
	border-radius: 5px;
	letter-spacing: 2px;
}