.appContainer {
  margin: 30px 30px;
}

.arrayContainer {
  display: flex;
  margin-top: 90px;
  margin-bottom: 20px;
}

.flexContainer {
  display: flex;
  margin: auto;
}

.splittedArrayLevelContainer {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.splittedArraysContainer {
  display: inline-flex;
  margin-right: 30px;
}
