.container {
  display: inline-flex;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0px 20px;
  width: 65px;
  justify-content: center;
  background: #d9b2a9;
  color: white;
}

.focus {
  background: yellow;
  color: #000;
}
